/** LAYOUT *******************************************************************/

.container {
    margin-top: 60px;
    margin-bottom: 2em;
}


/** NAVBAR *******************************************************************/

.navbar-inverse {
    background-color: rgba(14, 97, 145, 0.87);
    border-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d5d8d8;
    font-weight: bold;
}

.navbar-inverse .navbar-brand {
    color: #d5d8d8;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/** HERO *********************************************************************/

div.jumbotron {
    background-color: rgba(238, 238, 238, 0.8);
}

#image-background {
    position: absolute;
    top: -2rem;
    z-index: -1;
    width: 100%;
    height: 22.2rem;
    background-image: url('../../public/img/plane-with-chemtrails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/** FOOTER *******************************************************************/

footer.page-footer {
    padding: 4rem 5rem;
    color: #fff;
    background-color: #3980af;
    /*height: 13rem;*/
}

footer.page-footer a {
    color: #fff;
}


/** FORM *********************************************************************/

h6 {
    font-weight: 700;
}

span.required-asterisk {
    color: #901524;
}


/** LISTS *********************************************************************/

.numbered-list {
    list-style: decimal-leading-zero;
}


/** PLOTS ********************************************************************/

.plot-container {
    /*background: #ff3399;*/
    border: 2px dotted #888;
    position: relative;
}
.legend-list {
    list-style: none;
}
.legend-color-badge {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    top: 2px;
}

.no-pointer-events {
    pointer-events: none;
}
.plot-tooltip {
    border-radius: 3px;
}


/** TWEAKS *******************************************************************/

h3[id]::before {
  content: '';
  display: block;
  height:      75px;
  margin-top: -75px;
  visibility: hidden;
}

h4.salient {
    border-left: 3px solid #3980af;
    padding-left: 0.3em;
}

article img {
    width: 100%;
}

span[title] {
    cursor: help;
}


/** SPINNER ******************************************************************/

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #4a59c1;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.25s;
}

.lds-ripple div:nth-child(3) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 144px;
        height: 89px;

        opacity: 0;
    }
}


/** BOOTSTRAP ICONS **********************************************************/

svg.bi {
    /* vertical alignment is … sketchy, let's do this the old way */
    position: relative;
    top: 2px;
}