{% extends "base.html" %}


{% block title %}
Estimation {{ estimation.public_id }} is computing… Please wait.
{% endblock %}


{% block hero %}
<div class="jumbotron">
    <h1>{{ content.estimate_queue.hero.title | safe }}</h1>
    {{ content.estimate_queue.hero.description | markdown | safe }}
</div>
{% endblock %}


{% block extra_meta %}
{# push notifs are good but this complies w/ nojs #}
<meta http-equiv="refresh" content="5">
{% endblock %}


{% block body %}

<div class="text-center">
    <div class="lds-ripple">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

{#<a href="/compute" id="compute" class="nojs btn btn-danger btn-lg" target="_blank">WORK!</a>#}
<script type="text/javascript">
var compute_now = function() {
    var xhr = new XMLHttpRequest();
    xhr.onerror = function(e){console.warn("Computation fails.", e)};
    xhr.open('GET', "/compute", true);
    xhr.send(null);
};
compute_now();
</script>
{% endblock %}
